# TITANIC: Wrangling the Passenger Manifest

## Exploratory Analysis with ```Pandas```
On April 15, 1912, the RMS Titanic sunk after hitting an iceberg, killing 1502 out of 2224 passengers and crew about during her maiden voyage. While luck did play a role in the survival of some passengers, certain groups&mdash;women and childen&mdash;were much more likely to survive.

In this tutorial you will gain experience using ```pandas``` to visualize and clean data from the Titanic's passenger manifest. Afterwards it is also recommended that you complete the "additional_wrangling_challenge" notebook, which expands on these skills and is included in this course's repository.

**Be sure to read the README before you begin!** In addition, you may also find these resources helpful:  
https://www.analyticsvidhya.com/blog/2016/01/complete-tutorial-learn-data-science-python-scratch-2/
https://chrisalbon.com/python/pandas_dataframe_descriptive_stats.html

*This tutorial is based on the Kaggle Competition, "Predicting Survival Aboard the Titanic" https://www.kaggle.com/c/titanic*

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

## Load the Data
The file we'll be exploring today, ```train.csv```, represents a subset of the Titanic's passenger manifest. It was downloaded when you cloned X503's GitHub repo and is located in the ```Data``` folder. The remaining data from the passenger manifest is in ```test.csv```, which is saved in the same folder and we'll use later on in the Machine Learning course. But for now, let's load the ```train.csv``` file and start exploring the data.

=> Load the ```train.csv``` file into a ```pandas``` ```DataFrame```.

Documentation: http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html

In [ ]:
# Read the train.csv file as a dataframe using pandas: df
df =

## Exploring the Data

=> Use ```pandas``` to view the "head" of the file with the first 10 rows.

Documentation: http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.head.html

In [ ]:
# Use pandas to view the first 10 rows of the file.

*What did you see? When exploring a new data set, these are some of the first questions you should try to answer.*
 * Are there any missing values?
 * What kinds of values/numbers/text are there?
 * Are the values continuous or categorical?
 * Are some variables more sparse than others?
 * Are there multiple values in a single column?

#### Summary Statistics

__=>__ Use ```pandas``` to get summary statistics on the numerical fields in the data.

Documentation: http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.describe.html

In [ ]:
# Use pandas to get the summary statistics on the data.

*What can we infer from the summary statistics?*
 * How many missing values does the ```Age``` column have?
 * What percentage of the passengers survived?
 * How many passengers traveled in Class 3?
 * Are there any outliers in the ```Fare``` column?

__=>__ Use ```pandas``` to get the median of the ```Age``` column.

Documentation: http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.median.html

In [ ]:
# Use pandas to get the median of the Age column.

__=>__ Use ```pandas``` to find the number of unique values in the ```Ticket``` column.

Documentation: http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.nunique.html

In [ ]:
# Use pandas to find the number of unique values in the Ticket column.

The ```Ticket``` column has a large number of unique values. As we saw above in our initial exploration of the data, this feature includes a combination of text and numerical data. Therefore, let's use ```value_counts()``` to generate a frequency distribution of the ```Ticket``` values, so we can see whether this data will be useful for our models.

__=>__ Use ```pandas``` to count the number of each unique value in the ```Ticket``` column.

Documentation: http://pandas.pydata.org/pandas-docs/version/0.20.3/generated/pandas.Series.value_counts.html

In [ ]:
# Use pandas to count the number of each unique Ticket value.

## Visualize the Data
Now let's look at two histograms of the ```Fare``` data. In the first, we'll set ```bins=10``` and in the second ```bin=50```. Which one do you find the most helpful? What are you able to tell about the range of fares paid by the passengers from the histograms?

In [ ]:
fig = plt.figure(figsize=(7,10))
ax = fig.add_subplot(211)
ax.hist(df['Fare'], bins=10, range=(df['Fare'].min(),df['Fare'].max()))
plt.title('Fare Distribution with 10 Bins')
plt.xlabel('Fare')
plt.ylabel('Count of Passengers')
plt.show()

fig = plt.figure(figsize=(7,10))
ax = fig.add_subplot(212)
ax.hist(df['Fare'], bins=50, range=(df['Fare'].min(),df['Fare'].max()))
plt.title('Fare Distribution with 50 Bins')
plt.xlabel('Fare')
plt.ylabel('Count of Passengers')
plt.show()

## Data Wrangling
It's important to wrangle your data before building your models, since ```scikit-learn``` cannot process missing values and only accepts numerical data. Outliers should also be dealt with beforehand, since they will negatively impact the performance of most machine learning models.

### Outliers
When examining the histograms of the ```Fare``` data, did you notice any potential outliers? Since there is a relationship between the cost of a ticket and the class the passenger was traveling in, let's look at a box plot of this data to investigate further.

In [ ]:
f, ax = plt.subplots(figsize=(9,7))
sns.boxplot(x='Pclass', y='Fare', data=df, palette='vlag')
sns.swarmplot(x='Pclass', y='Fare', data=df, size=2, color='0.3')
plt.title('Ticket Cost By Class', size=14)
plt.xlabel('Ticket Class', size=12)
plt.ylabel('Fares', size=12)
plt.show()

We can quickly see that there a few first-class fares that are much higher than the others. Let's sort the data set by the ```Fare``` column so we can see the cost of the most expensive tickets.

In [ ]:
df.sort_values(by='Fare', ascending=False).head(10)

Since the ```$512``` fares appear to be outliers, let's replace them with ```$213```, since it is the second highest value and much closer to the other data points.

In [ ]:
for idx in df.index:
    if df.loc[idx].Fare > 500:
        df.set_value(idx, 'Fare', 263.0000)

### Dealing with Missing Data
When deciding how to handle missing values, it is important to know how prevalent they are in your data. Let's use ```pandas``` to find out how many ```Cabin``` values are missing from our data set.

__=>__ Use ```pandas``` to get the sum of all the null values in the ```Cabin``` column.

Documentation:    
http://pandas.pydata.org/pandas-docs/stable/generated/pandas.isnull.html    
http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sum.html

In [ ]:
# Sum the number of null Cabin values.

### Deleting a Feature


__=>__ Since most of the ```Cabin``` values are missing, let's use ```pandas``` to drop the column. We will also drop the ```Ticket``` column, since as we saw earlier, it contains of a mix of text and numeric data that doesn't appear to contain any useful information. *HINT: remember to set ```axis=1```.*

Documentation:  
http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop.html  
https://chrisalbon.com/python/pandas_dropping_column_and_rows.html

In [ ]:
# Use pandas to drop the Cabin and Ticket columns.

### Filling in Missing Data
While the ```Age``` column also contains null values, it is missing far fewer than the ```Cabin``` column, so we will fill those in rather than drop the column. The simplest approach, which we'll use here, is to replace the null values with the mean age of the passengers.

__=>__ First use ```pandas``` to calculate and save the mean age of the passengers. Then replace the null values in the ```Age``` column with that number.

Documentation:  
http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.mean.html     
http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.fillna.html

In [ ]:
# First, use pandas to find the mean age of the passengers: mean_age
mean_age = 

# ...and then fill in the null Age values with mean_age.

In [ ]:
# Check that there are no more null values in the Age column.

### Save Your Work
...you will need it in a few weeks!

In [ ]:
import pandas.io.sql as pd_sql
import sqlite3 as sql

# Create a sqlite3 database to store the data.
con = sql.connect('titanic.db')

__=>__ Use ```pandas``` to write your ```DataFrame``` to the ```sqlite``` database.

Documenation: http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html

In [ ]:
# Use pandas to save your dataframe to a sqlite database name 'training_data'.